{% extends 'crm/main.html' %}
{% block content %}
<div class="container mt-4">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="card">
      <div class="card-body">
        {{ form.as_p }}
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <button onclick="window.history.back();" class="btn btn-danger mb-2 mb-md-0">Cancelar</button>
        <button type="submit" name="Submit" value="Submit" class="btn btn-info">Guardar</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
