{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <title>Admin Tuprofeestadistica </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
  
    <script>
        // custom.js
      
        document.addEventListener("DOMContentLoaded", function() {
          console.log("Script cargado correctamente.");
      
          var whatsappButtons = document.querySelectorAll(".btn-send-whatsapp");
      
          whatsappButtons.forEach(function(button) {
            button.addEventListener("click", function() {
              var phone = this.getAttribute("data-phone");
              var tipoServicio = this.getAttribute("data-tipo-servicio");
              var fechaEntrega = this.getAttribute("data-fecha-entrega");
      
              if (phone && tipoServicio && fechaEntrega) {
                var url = `/enviar_mensaje_whatsapp/${phone}/${tipoServicio}/${fechaEntrega}/`;
      
                fetch(url)
                  .then(response => response.json())
                  .then(data => {
                    if (data.success) {
                      mostrarNotificacion(data.message, "success");
                    } else {
                      mostrarNotificacion(data.message, "error");
                    }
                  })
                  .catch(error => {
                    console.error("Error al enviar el mensaje:", error);
                    mostrarNotificacion("Error al enviar el mensaje", "error");
                  });
              }
            });
          });
      
          // Función para mostrar una notificación emergente con SweetAlert.
          function mostrarNotificacion(mensaje, tipo) {
            Swal.fire({
              title: mensaje,
              icon: tipo,
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000
            });
          }
        });
      </script>
          
      
      <script>
        // custom.js
        document.addEventListener("DOMContentLoaded", function() {
          console.log("Script cargado correctamente.");
      
          var pagarPagadoButton = document.querySelector(".btn-pagar-nomina");
      
          pagarPagadoButton.addEventListener("click", function() {
            mostrarNotificacion("sms whatsapp enviado", "success");
          });
      
          // Función para mostrar una notificación emergente con SweetAlert.
          function mostrarNotificacion(mensaje, tipo) {
            Swal.fire({
              title: mensaje,
              icon: tipo,
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000
            });
          }
        });
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('menu-toggle').addEventListener('click', function() {
            document.getElementById('wrapper').classList.toggle('toggled');
          });
        });
      </script>
          
</head>
<body>
    <button id="menu-toggle">☰</button> <!-- Botón para dispositivos móviles -->

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}" class="lead text-center mr-4">
                        Home (Tuprofe)
                    </a>
                </li>
                <li>
                    <a href="{% url 'contacts' %}">Clientes</a>
                </li>
                <li>
                    <a href="{% url 'orders' %}">Orders</a>
                </li>
               
                <li class="has-submenu">
                    <a href="javascript:void(0)" class="submenu-toggle">Reportes</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'nomina' %}">Nomina</a></li>
                        <li><a href="{% url 'ingresar_tipo_cambio' %}">Tipo de cambio</a></li>
                        <li><a href="{% url 'reporte_ingreso' %}">Reporte ingreso</a></li>
                        <li><a href="{% url 'task' %}">Notas rápidas</a></li>
                    </ul>
                    </li>

                    <li>
                    <a href="{% url 'products' %}">Profesores</a>
                    </li>
                    <li>
                    <a href="{% url 'signout' %}">Salir</a>
                    </li>
                    </ul>
                    </div>
                    <!-- /Sidebar -->
                 <!-- Contenido principal -->
    <div id="page-content-wrapper" class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    <!-- Aquí va el contenido dinámico de tus páginas -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Contenido principal -->
</div>

<!-- Scripts de Bootstrap y otros si es necesario -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Encuentra todos los elementos que pueden alternar submenús
        var submenuToggles = document.querySelectorAll('.submenu-toggle');
        
        // Añade un evento de clic a cada uno
        submenuToggles.forEach(function(toggle) {
            toggle.addEventListener('click', function() {
                // Este es el elemento `li` padre de `.submenu-toggle`
                var parentLi = this.parentElement;
                
                // Alternar la visibilidad del submenú
                parentLi.classList.toggle('active');
            });
        });
    });
    
  </script>

</body>
</html>
